#researchbutton div a  {
   background-image: url(sg_matetrial_media/researchbutton.gif);
}

#projectsbutton a  {
   background-image: url(sg_home_media/projectsbutton.gif);
}

#productsbutton a  {
   background-image: url(sg_home_media/productsbutton.gif);
}

#materialbutton a  {
   background-image: url(sg_home_media/materialbutton.gif);
}

#enterprisestext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 647px;
   z-index: 5;
   top: 2230px;
   left: 71px;
   position: absolute;
}

#contactbutton a  {
   background-image: url(sg_home_media/contactbutton.gif);
}

#agriculturetext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 618px;
   z-index: 5;
   top: 1413px;
   left: 71px;
   position: absolute;
}

#technologytext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 630px;
   z-index: 5;
   top: 2008px;
   left: 66px;
   position: absolute;
}

#aboutbutton a  {
   background-image: url(sg_home_media/aboutbutton.gif);
}

#layer12copy16  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/layer12copy16.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 26px;
   width: 348px;
   z-index: 5;
   top: 2190px;
   left: 47px;
   position: absolute;
}

#layer12copy15  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/layer12copy15.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 26px;
   width: 209px;
   z-index: 5;
   top: 1968px;
   left: 45px;
   position: absolute;
}

#layer12copy13  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/layer12copy13.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 26px;
   width: 291px;
   z-index: 5;
   top: 1681px;
   left: 46px;
   position: absolute;
}

#topbannerimg  {
   background-image: url(sg_matetrial_media/topbannerimg.gif);
}

#numeracytext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 523px;
   z-index: 5;
   top: 695px;
   left: 71px;
   position: absolute;
}

#page_content  {
   min-height: 2500px;
}

#layer12copy9  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/layer12copy9.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 26px;
   width: 619px;
   z-index: 5;
   top: 606px;
   left: 45px;
   position: absolute;
}

#enterprisesg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/enterprisesg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 14px;
   width: 307px;
   z-index: 6;
   top: 2199px;
   left: 68px;
   position: absolute;
}

#agricultureg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/agricultureg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 176px;
   z-index: 6;
   top: 1384px;
   left: 61px;
   position: absolute;
}

#materialimg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/materialimg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 199px;
   width: 293px;
   z-index: 6;
   top: 361px;
   left: 516px;
   position: absolute;
}

#technologyg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/technologyg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 113px;
   z-index: 6;
   top: 1974px;
   left: 64px;
   position: absolute;
}

#naturaktext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 598px;
   z-index: 5;
   top: 1587px;
   left: 66px;
   position: absolute;
}

#pricestext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 95px;
   z-index: 5;
   top: 712px;
   left: 752px;
   position: absolute;
}

#developedg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/developedg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 15px;
   width: 546px;
   z-index: 6;
   top: 613px;
   left: 71px;
   position: absolute;
}

#numeracyg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/numeracyg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 89px;
   z-index: 6;
   top: 660px;
   left: 72px;
   position: absolute;
}

#hunantext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 644px;
   z-index: 5;
   top: 1721px;
   left: 66px;
   position: absolute;
}

#lifetext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 659px;
   z-index: 5;
   top: 1908px;
   left: 67px;
   position: absolute;
}

#naturalg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/naturalg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 154px;
   z-index: 6;
   top: 1555px;
   left: 67px;
   position: absolute;
}

#long2img  {
   background-image: url(sg_matetrial_media/long2img.gif);
   height: 2123px;
   top: 309px;
}

#humang  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/humang.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 250px;
   z-index: 6;
   top: 1690px;
   left: 66px;
   position: absolute;
}

.page_content_bkg  {
   height: 2500px;
}

#lifeg  {
   background-repeat: no-repeat;
   background-image: url(sg_matetrial_media/lifeg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 11px;
   width: 145px;
   z-index: 6;
   top: 1875px;
   left: 68px;
   position: absolute;
}

