#trainingbutton div a  {
   background-image: url(sg_project_media/trainingbutton.gif);
}

#directorbutton div a  {
   background-image: url(sg_project_media/directorbutton.gif);
}

#projectstext  {
   margin-top: 0px;
   margin-left: 0px;
   width: 778px;
   z-index: 5;
   top: 328px;
   left: 78px;
   position: absolute;
}

#projectsg  {
   background-repeat: no-repeat;
   background-image: url(sg_project_media/projectsg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 15px;
   width: 278px;
   z-index: 6;
   top: 297px;
   left: 80px;
   position: absolute;
}

